name: Build and Test

on: 
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:    
      - master         # Pull request events on master branch

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: Install spago and load dependencies
      run: npm install

    - name: Test
      run: npm run test